.parent {
    -fx-background-color: #fff;
}
.sidebar {
    -fx-background-color: #333645;
}
.masthead {
    -fx-background-color: #00B5FF;
}
.btns {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.btns:hover {
    -fx-background-color: #252732;
}
.action-btn {
    -fx-border-radius: 5px;
}

.quizReplaceBtns {
    -jfx-button-type: RAISED;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#stopQuizActionBtn {
    -fx-background-color: orangered;
}
#pauseQuizActionBtn {
    -fx-background-color: #00B5FF;
}
.quizStartBtn {
    -jfx-button-type: RAISED;
    -fx-background-color: #91CC41;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.quizStartBtn:hover {
    -fx-background-color: #7AB12F;
    -fx-text-fill: #fff;

}
.configLoader:hover {
    -fx-fill: #5a99b2;
}