.nextPrevBtn {
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-border-radius: 50%;
    -fx-border-color: #00B5FF;
    -fx-border-width: 1px;
    -fx-padding: 10px;
}

.decisionBtns {
    -fx-cursor: hand;
    -fx-padding: 10px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
}

.selectorBtns {
    -fx-border-radius: 100%;
    -fx-background-radius: 100%;
    -fx-font-weight: bold;
    -fx-background-color: #FAC536;
    -fx-cursor: hand;
}

.selectorBtns:hover {
    -fx-background-color: #F25056;
}

.selectorBtns:selected {
    -fx-background-color: #39EA49;
}